<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Presentations</title>
</head>
<body>
<ul>
{{#presentations}}
<li><a href="/{{.}}">{{.}}</a></li>
{{/presentations}}
</ul>
</body>
</html>