<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Presentations</title>
	<script src="/static/reload.js"></script>
</head>
<body>
<ul>
{{#presentations}}
<li><a href="/{{.}}/">{{.}}</a></li>
{{/presentations}}
</ul>
</body>
</html>