@font-face {
	font-family: 'DroidSansMonoRegular';
	src: url('/static/fonts/DroidSansMono.eot');
	src: url('/static/fonts/DroidSansMono.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/DroidSansMono.woff') format('woff'),
		 url('/static/fonts/DroidSansMono.ttf') format('truetype'),
		 url('/static/fonts/DroidSansMono.svg#DroidSansMonoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}



html,body {
	font-family: sans-serif;
	font-size: 20pt;
	height: 100%;
}
#pres_container {
	display: table;
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
}
.slide {
	width: 100%; height: 100%;
}
.slide_hidden {
	display: none !important;
}
.step_hidden {
	display: none !important;
}

.firstslide {
	display: table-cell; vertical-align: middle;
	text-align: center;
}
.firstslide h1 {
	font-size: 300%;
	margin: 0 auto 0.5em auto;
}
.firstslide h2 {
	font-size: 150%;
	margin: 0 auto 0.3em auto;
}

.slide>* {
	margin-left: 0.8em;
}
.slide h1 {
	font-size: 180%;
	padding: 0.2em 0 0.5em 0;
}

.slide>span,.slide>code {
	padding-left: 1em;
}
.osxh_codeblock {
	line-height: 1.18;
	letter-spacing: -0.05em;
	display: block;
	white-space: pre;
	width: auto;
}
.osxh_deemphasized {
	color: #555;
}
figure {
	text-align: center;
}
figcaption {
	text-align: inline;
}
figure img {
	display: inline-block;
	max-width: 85%;
	max-height: 620px;
}
figcaption.osxh_attribution {
	font-size: 50%;
	color: #666;
}
.slide>ul {
	margin-top: 1em;
	margin-left: 4em;
}
.slide>ul>li {
	font-size: 120%;
	list-style-type: disc;
	margin: 0.6em auto;
}
.slidenum {
	position: absolute;
	right: 0.7em; bottom: 0.5em;
	color: #555;
	z-index: -1;
}
.firstslide .slidenum {
	display: none;
}

code {
	font-family: DroidSansMonoRegular,monospace;
}
.osxh_closing_title {
	font-size: 190%;
	text-align: center;
	margin: 30px 0 20px 0;
}